/* Mobile Device  */
@media screen and (max-width: 676px) {
  nav {
    flex-direction: column;
  }
  .nav-item {
    flex-direction: column;
    margin-top: 20px;
  }
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .item a {
    margin-bottom: 20px;
  }
}
