* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0 20px;
}
.primary-text {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.secondary-text {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.text-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  padding: 21px 40px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}
.secondary-btn {
  background: #4ec5f7;
}
/* Nav styles  */
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 50px auto;
}
.logo h1 {
  font-size: 45px;
  font-weight: 700;
  margin-left: 20px;
}
.logo h1 span {
  background: linear-gradient(#ff42a5 13.13%, #ff42a5 87.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.nav-item a {
  text-decoration: none;
}
.item a {
  margin-left: 20px;
}
.nav-logo {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  margin-left: 20px;
  padding: 10px 20px;
}
.fa-youtube {
  color: #f61c0d;
}

/* banner section style  */
.banner {
  display: flex;
  max-width: 1300px;
  margin: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-image: url(images/Group\14.png);
}
.banner-text h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-text h3 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.banner-icon p {
  margin-left: 10px;
}
.banner-text p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.banner-img {
  width: 50%;
}
.banner img {
  width: 100%;
}

main {
  max-width: 1300px;
  margin: 50px auto;
}
/* Online Game section styles */

.card-con {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 24%;
}
.card-con img {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card img:hover {
  border-radius: 16px;
  border: 4px solid #ff42a5;
  background: linear-gradient
    (0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
}
